<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- User Bean Definition -->
    <bean id="userBean" class="com.farman.lmsApp.Users" scope="prototype" />

    <!-- Course Bean Definition -->
    <bean id="courseBean" class="com.farman.lmsApp.Courses" scope="prototype" />

    <!-- Lesson Bean Definition -->
    <bean id="lessonBean" class="com.farman.lmsApp.Lessons" scope="prototype" />

</beans>

